<!doctype html>
<html lang="en">
    {% include shell/head.html %}
    <body {% if page.layout %}class="is-{{ page.layout }}"{% endif %}>
        <a class="skip-link sr  z-depth-1" href="#mainContent">
            Skip to main content
        </a>
        <h1 class="sr">
            {{ site.title }}
        </h1>
        <header class="main-header">
            {% include shell/header.html %}
        </header>   
        <main class="main" id="mainContent">
                {{ content }}
        </main>
        {% include shell/footer.html %}
        {% include shell/foot.html %}
        
    </body>
</html>