<head>
    
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/uploads/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/uploads/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/uploads/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/uploads/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ site.url }}/uploads/favicons/safari-pinned-tab.svg" olor="#828182">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit_id }}.css">
    <link href="/css/style.css" rel="stylesheet" />

    {% seo %}
</head>